/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/



* {
  margin: 0;
  padding: 0;
}

html, body {

} 

.qq:hover { 
	
		background-color: rgba(0, 0, 0, 0.5);
	
		-moz-transform: rotate(0deg) scale(0.95);
		-webkit-transform: rotate(15deg) scale(0.2);
		-o-transform: rotate(0deg) scale(0.95);
		transform: rotate(0deg) scale(0.95);
		
		position: relative; 
		
	    -webkit-transition: all 0.2s linear; 


	
	}

body {
  background-color: #eeffec; 
  background-image:url(/images/bg/p8_2.png);


  /*
  background-repeat: repeat; 
  font: 13.34px helvetica, arial, clean, sans-serif;
  font-size: small; 

  background: url(/images/bg.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; 

	*/ 
} 

.topdown { 
	background: rgba(225, 225, 225, 1); 

} 

#menu
{
padding-top:25px; 
padding-bottom:25px; 
margin:0;
font-family: arial, helvetica, sans-serif; 
font-size: 2.8em; 
font-weight:900; 
white-space:nowrap;
list-style-type:none; 
text-shadow: 1px 1px 0px #555; 
width: 100%; 
text-align: center;


}
#menu li { 
	display:inline; 
	
} 

#menu li a { 
	
/*	padding: 10px; */
/*	padding-right: 55px; */ 
	color: #848C81; 
	text-decoration:none;
	/*	float:left; */ 
	
	-webkit-transition: padding-left 250ms ease-out;
	-moz-transition: padding-left 250ms ease-out;
	
} 

#menu li a.selected {
	color: #3C403B; 

} 

#menu li a:hover { 
	color: #3C403B;
	
}


#me { 
	text-align: right; 
	position: absolute; 
	top: 0px; 
	left: 805px; 
}


h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a { 
	color: #fff; 
	text-decoration: none; 

} 

a:hover {
  color: #fff; 
  text-decoration: none; 

}

a:visited {
  color: #fff; 
  text-decoration: none; 

} 



.bgtransparent { 
	background-color: black; 
	opacity: 0.5; 
	
	z-index; 0; 
	height: 100%; 
	
	
	position: absolute; 
	top: 0; 
} 


.site { 

	z-index; 2; 
	height: 100%; 
	
} 

.contenido { 
	
	padding-top: 20px; 	
	
} 

.contenido_img { 
	background-image: url("../images/bg/p8_2.png"); 
	background:rgba(0, 0, 0, 0.28) none repeat scroll 0 0; 
	margin:0px;
	padding:0px; 
	height:100%; 
	
} 

.contenido_img img {  
	background-color: white; 
	border: 1px solid #000; 
	
	margin:0px;
	padding:0px; 
	
}

.project_preview { 

	/* 
	border: 1px solid #000; 
	border-bottom: 3px solid #000; 
	border-right: 3px solid #000; 
	*/ 
	
	

	margin-bottom: 10px; 
	padding: 0px; 
	margin: 0px; 
	background-color: #fff; 
	text-align: center;
	color: #CCCCCC; 
	

    /* background-image: url("../images/bg/p8_2.png"); 
    background-repeat: repeat; 
    */ 
    
    background:rgba(0, 0, 0, 0.0) none repeat scroll 0 0;


} 



.project_preview img { 
	border: 0px solid #222; 
	text-align:center;
	margin: 0px; 
  	padding:0px;   

	
		-moz-transform: rotate(0deg) scale(0.95);
		-webkit-transform: rotate(0deg) scale(0.95);
		-o-transform: rotate(0deg) scale(0.95);
		transform: rotate(0deg) scale(0.95);
		
		position: relative; 
		
	    -webkit-transition: -webkit-transform 0.2s ease-out; 
		-moz-border-radius: 2px; 
		-webkit-border-radius: 2px; 
		-moz-box-shadow: 1px 1px 2px #222;
		-webkit-box-shadow: 1px 1px 2px #222; 		
	

	z-index: 1; 		
		
	position:relative; 
	z-index:1; 
	float: left; 
	height: 216px; 
 	width: 216px; 


} 

.project_preview img:hover {
    -moz-transform: rotate(0deg) scale(1.15);
    -webkit-transform: rotate(0deg) scale(1.15); 
    -o-transform: rotate(0deg) scale(1.15); 
    transform: rotate(0deg) scale(1.15); 

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	-o-border-radius: 5px;
	-border-radius: 5px;
	
	position: relative; 
	
	-moz-box-shadow: 1px 1px 5px #222;
	-webkit-box-shadow: 1px 1px 5px #222; 
	-o-box-shadow: 1px 1px 5px #222;
	-box-shadow: 1px 1px 5px #222;
	
 	-moz-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
 	-transition: all 0.2s ease-out;
 	
	z-index: 1000; 
	
	
}

.project_preview_title { 
 	
	margin: 0px; 
	padding: 8px; 	
	text-align: left;
    
	
	font-family: serif;  
 	font-size: 1.1em; 
	
	color: rgba(0, 0, 0, 0.5); 
	
} 
	
	
.project_preview_desc { 
	
	margin:0px;
	padding:15px; 
	height:55px; 

	padding-top: 1px;
	padding-left: 8px;  
	padding-right: 8px;  
	
	font-family: helvetica, arial, sans-serif;  
	font-size: 0.9em; 
	color: rgba(0, 0, 0, 0.4); 

	vertical-align: bottom;
	text-align: left; 
	
	
} 


.project_type { 
	

	font-size:0.8em; 
	z-index:2; 
	background-color: rgba(0, 0, 0, 0.8);
	padding: 2px; 
	float: right; 
	right: 0px;
	bottom:0px; 
	

		
	-webkit-transition: -webkit-transform 0.2s ease-out; 
	-moz-border-radius: 1px; 
	-webkit-border-radius: 1px; 
	-moz-box-shadow: 1px 1px 1px #222;
	-webkit-box-shadow: 1px 1px 1px #222; 		
	
	
}

.project_full { 

	/* 
	border: 1px solid #000; 
	border-bottom: 3px solid #000; 
	border-right: 3px solid #000; 
	*/ 
	
  
	
	border-top: 0px solid #000; 
	border-left: 0px solid #000; 
	
	margin-bottom: 10px; 
	padding:0px; 	
	margin:0px;

	height:100%; 
	width: auto; 
	
	font-family: serif;  
	font-size: 1.2em; 
	color: #fff; 
	background: rgba(0, 0, 0, 0.5); 
	
	-moz-border-radius: 1px; 
	-webkit-border-radius: 5px; 
	-moz-box-shadow: 1px 1px 1px #222;
	-webkit-box-shadow: 1px 1px 1px #222; 
		
		
} 


.project_full h1 { 
	font-family: sans-serif; 
	font-size: 1.5em; 
	color: rgba(255, 255, 255, 0.8); 
	padding:5px; 
	padding-left:15px; 
	
} 


.project_full h2 { 
	font-family: 'arial', sans-serif; 
	font-size: 0.8em; 
	background: rgba(0, 0, 0, 0.08); 
	margin: 0px; 
	padding:5px; 
	border: 1px dotted rgba(0, 0, 0, 0.2); 
	text-align: left;
} 


.project_full h3 { 
	font-family: 'arial', sans-serif; 
	font-size: 0.8em; 
	background: rgba(0, 0, 0, 0.08); 
	padding:5px; 
} 



.project_full p { 
	
	font-family: sans-serif; 
	font-size: 0.8em; 
	padding-left: 15px; 
	padding-right: 15px; 
	text-align: justify; 
	list-style: none; 
	
} 


.project_full img { 

	padding: 0px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	border-color: rgba(0, 0, 0, 0.5);
    border-width: 2px;
    border-style: solid; 

	max-width: 512px; 
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	-o-border-radius: 5px;
	-border-radius: 5px;


} 

.project_full_video { 

	padding: 0px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	background-color: black; 
	
	border-color: rgba(0, 0, 0, 0.5);
    border-width: 2px;
    border-style: solid; 

	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	-o-border-radius: 5px;
	-border-radius: 5px;


} 





.project_full li { 
	
	font-family: Geneva,Arial,Helvetica,sans-serif; 
	font-size: 0.8em; 
	text-align: left; 
	list-style: none; 

	
	margin: 0px;
} 

.infonote { 
	font-family: Geneva,Arial,Helvetica,sans-serif; 
	font-size: 0.8em; 
	font-style: italic;
	text-align: center; 
	padding-left: 0px; 
	border-top: 1px solid #999; 
	border-bottom: 1px solid #999; 
	border-left: 5px solid #999; 
	border-right: 5px solid #999; 
	
	
	
}

.project_info { 
	
	background: rgba(0, 0, 0, 0.2); 
	
	
} 

.project_info a { 
	color: #fff; 
	text-decoration: none; 
	background-color: rgba(0,0,0,0.5); 
	margin: 0px;
	padding: 2px;
	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	-o-border-radius: 2px;
	-border-radius: 2px;


} 


.project_full_caption { 

	padding: 2px; 
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width:100%;
	
	border-color: rgba(0, 0, 0, 0.5);
    border-width: 2px;
    border-style: none; 
	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	-o-border-radius: 2px;
	-border-radius: 2px;

} 



.project_info li { 
	margin: 5px;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2); 
	padding-left: 10px; 
	padding-right: 10px; 
	padding-bottom: 2px; 
	
	
} 



.marcado { 
	color: #fff; 
	text-decoration: none; 
	background-color: rgba(0,0,0,0.5); 
	margin: 0px;
	padding: 2px;
	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	-o-border-radius: 2px;
	-border-radius: 2px;


} 




.msg { 
	background: rgba(255, 0, 0, 0.8); 
	padding:10px; 
	color: white; 
}

.contenido_img h2 { 
	background: rgba(0, 0, 0, 0.2); 
	padding-top: 5px; 
	padding-bottom: 5px; 
	padding-left: 5px; 
	text-align: left; 
	color: white; 
	/*	width: 100%; */ 
	
} 

.contenido_img p { 
	padding-left: 12px; 
	
	
} 

.contact p { 
	text-align: center; 	
	
} 


.imgprev { 

	/* 
	border: 1px solid #000; 
	border-bottom: 3px solid #000; 
	border-right: 3px solid #000; 
	*/ 

	background-color: #fff; 
	/*	text-align: center;*/
	color: #CCCCCC; 


    background-image: url("../images/bg/p12.png"); 
    background-repeat: repeat; 

	
	margin:0px;
	padding:20px; 
	height:100%; 
	width: auto; 

/*	left-padding: 5px;  
	right-padding: 5px;  */


	color: #fff; 
	background: rgba(0, 0, 0, 0.28); 
	

} 


	.project_preview_desc p { 

		color: white; 

	} 
	
	.project { 
	
/*		margin: 5px;  
		padding: 5px; */
		
/*	  background-image: url("../images/bg/p1.png"); 
	  background-repeat: repeat; */

		
		
	} 
	
	.content p { 
		padding-right: 10px; 
		text-align: right; 
		
	} 
	
	
	.b_imagenes { 
		text-align: center; 
		
	} 
	
	
	.site { 
		/* background-image: url("../images/bg/p8_2.png"); */ 

		
	}


  .site .meta {
    color: #aaa;
  } 

  .site .footer {  
    overflow: hidden; 
    font-size: 0.8em;  
    text-align: left; 
    padding-top: 15px;
    padding-bottom: 15px; 
    margin-top: 20px; 

  }

	
	a[href^="http"] { 
		/* 
		background: url(icono.png) no-repeat;
		padding-left:10px; 
		*/ 
	}


	a[href*="trazos"] {
	color:&nbsp;#39486c;
	}


	a[href$=".jpg"] {
	color: red;
	}


	/* Smartphones (portrait y landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
	/* Styles */
	}

	/* Smartphones (landscape) ----------- */
	@media only screen
	and (min-width : 321px) {
	/* Styles */
	}

	/* Smartphones (portrait) ----------- */
	@media only screen
	and (max-width : 320px) {
	/* Styles */
	}

	/* iPads (portrait y landscape) ----------- */
	@media only screen
	and (min-device-width : 768px)
	and (max-device-width : 1024px) {
	/* Styles */
	}

	/* iPads (landscape) ----------- */
	@media only screen
	and (min-device-width : 768px)
	and (max-device-width : 1024px)
	and (orientation : landscape) {
	/* Styles */
	}

	/* iPads (portrait) ----------- */
	@media only screen
	and (min-device-width : 768px)
	and (max-device-width : 1024px)
	and (orientation : portrait) {
	/* Styles */
	}

	/* PCs y portátiles ----------- */
	@media only screen
	and (min-width : 1224px) {
	/* Styles */
	}

	/* Pantallas grandes ----------- */
	@media only screen
	and (min-width : 1824px) {
	/* Styles */
	}

	/* iPhone 4 ----------- */
	@media
	only screen and (-webkit-min-device-pixel-ratio : 1.5),
	only screen and (min-device-pixel-ratio : 1.5) {
	/* Estilos */
	}
