/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/



* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
} 

body {
  background-color: #3db5e8; 
  background-image: url("../images/bg/p8.png"); 
  background-repeat: repeat; 
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
} 

#menu
{
padding-top:40px; 
margin:0;
font-family: arial, helvetica, sans-serif; 
font-size: 28px; 
font-weight:900; 
white-space:nowrap;
list-style-type:none; 

}
#menu li {display:inline;}
#menu li a { 
	
/*	padding: 10px; */
/*	padding-right: 55px; */ 
	color: #FFFFFF; 
	text-decoration:none;
	/*	float:left; */ 
} 

#menu li a:hover
{
color: #000000; 
} 




h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a; 
  text-decoration: none; 

}

a:hover {
  color: #0000bb; 
  text-decoration: none; 

}

a:visited {
  color: #a0a; 
  text-decoration: none; 

} 



.bgtransparent { 
	background-color: black; 
	opacity: 0.5; 
	
	z-index; 0; 
	height: 100%; 
	
	
	position: absolute; 
	top: 0; 
} 


.site { 

	z-index; 2; 
	height: 100%; 
	
} 

.contenido { 
	
	padding-top: 20px; 	
	
} 

.contenido_img { 
	background-image: url("../images/bg/p12.png"); 
	margin:0px;
	padding:0px; 
	height:100%; 
	
} 

.contenido_img img {  
	background-color: white; 
	border: 1px solid #000; 
	
	margin:0px;
	padding:0px; 
	
}

.project_preview { 

	/* 
	border: 1px solid #000; 
	border-bottom: 3px solid #000; 
	border-right: 3px solid #000; 
	*/ 
	
	border-top: 0px solid #000; 
	border-bottom: 3px solid #000; 
	
	
	margin: 5px; 
	margin-bottom: 10px; 
	padding:0px; 
	background-color: #fff; 
	text-align: center;
	color: #CCCCCC; 


  background-image: url("../images/bg/p12.png"); 
  background-repeat: repeat; 


} 

.project_preview img { 
	border: 0px solid #000; 
	
	margin: 0px; 
  	padding:0px;
} 

.project_preview_title { 
 	
	margin: 0px; 
	padding: 2px; 	
	background-color: black; 
    
	
	font-family: 'Geo', arial, serif;  
 	font-size: 1.2em; 
	
} 
	
	
.project_preview_desc { 
	
	margin:0px;
	padding:20px; 
	height:100%; 

	left-padding: 5px;  
	right-padding: 5px;  
	
	font-family: 'Josefin Sans', arial, serif;  
	font-size: 1.2em; 
	color: #fff; 
	background: rgba(0, 0, 0, 0.28); 
	
	
} 


.project_preview2 { 

	/* 
	border: 1px solid #000; 
	border-bottom: 3px solid #000; 
	border-right: 3px solid #000; 
	*/ 
	
	/*	border-top: 0px solid #000; */
	/*	border-right: 3px solid #000; */ 
	
	margin-bottom: 10px; 
	padding:0px; 
	background-color: #fff; 
	/*	text-align: center;*/
	color: #CCCCCC; 


  background-image: url("../images/bg/p12.png"); 
  background-repeat: repeat; 

	
	margin:0px;
	/*	padding:20px; */ 
	height:100%; 
	width: auto; 

/*	left-padding: 5px;  
	right-padding: 5px;  */
	
	font-family: 'Josefin Sans', arial, serif;  
	font-size: 1.2em; 
	color: #fff; 
	background: rgba(0, 0, 0, 0.28); 
	

} 


.project_preview2 h1 { 
	font-family: 'Yanone Kaffeesatz', arial, sans-serif; 
	font-size: 2em; 
	background: rgba(0, 0, 0, 0.2); 
	padding:5px; 
} 

.project_preview2 p { 
	padding:5px; 
	
} 

.project_preview2 h2 { 
	padding:5px; 
	
} 


.project_preview2 h2 { 
	background: rgba(0, 0, 0, 0.2); 
		
} 

.msg { 
	background: rgba(255, 0, 0, 0.8); 
	padding:10px; 
	color: white; 
}

.contenido_img h2 { 
	background: rgba(0, 0, 0, 0.2); 
	padding-top: 5px; 
	padding-bottom: 5px; 
	padding-left: 5px; 
	text-align: left; 
	color: white; 
	/*	width: 100%; */ 
	
}


.imgprev { 

	/* 
	border: 1px solid #000; 
	border-bottom: 3px solid #000; 
	border-right: 3px solid #000; 
	*/ 

	background-color: #fff; 
	/*	text-align: center;*/
	color: #CCCCCC; 


  background-image: url("../images/bg/p12.png"); 
  background-repeat: repeat; 

	
	margin:0px;
	padding:20px; 
	height:100%; 
	width: auto; 

/*	left-padding: 5px;  
	right-padding: 5px;  */


	color: #fff; 
	background: rgba(0, 0, 0, 0.28); 
	

} 


	.project_preview_desc p { 

		color: white; 

	} 
	
	.project { 
	
/*		margin: 5px;  
		padding: 5px; */
		
/*	  background-image: url("../images/bg/p1.png"); 
	  background-repeat: repeat; */

		
		
	} 
	
	#content { 
		text-align: right; 
		
	}

  .site a {
    color: #a00;
    text-decoration: none;
  }

  .site a:hover {
    color: #f00; 
  }

  .site a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site a.extra:hover {
    color: black;
  } 

	.site p { 
		text-align: left; 
	} 

  .site .meta {
    color: #aaa;
  } 

  .site .footer {  
    overflow: hidden; 

    font-size: 0.8em;
  
    text-align: left; 
    color: #CCCCCC;
    padding-top: 15px;
    padding-bottom: 15px; 
    margin-top: 20px; 
	background: rgba(0, 0, 0, 0.28); 
	

    /*clear: both;*/
  }

   .footer { 
		
	} 
