---
layout: project 
root: "./.." 
category:  project 
type: Workshop
img: biggames
title: BigGames workshop
technologies: 
when: 09/03/2012 - 10/03/2012
collaborators: [Sergio Galán, Medialab Prado Madrid] 
task: 
desc: Media Lab Prado Media Facade Workshop
videos:  
sourcecode: 
context: 
---

{% capture root %}{% if page.root %}{{ page.root }}{% else %}{{ site.root }}{% endif %}{%endcapture%}

<div class="row">	
<p id = "" class = ""> 	BIGgames is a workshop for developing playful interactive games for the Medialab Prado media-facade in Madrid which was taken place during the 9th and 10th of March 2012. Two days of intensive work that brought 9 game prototypes to the media-facade and will soon be showcased on it.
	This is a video that summarizes the workshop and the amazing projects made. For more details about the workshop check the website of the event http://uncoded.es/biggames </p> 

</div> 


{% if site.book == true %} 
<div ><p class="bookvideo">Please watch the video located in: <strong>http://vimeo.com/39880475</strong></p></div> <br />  <br /> <br /> 
<img src="../images/{{page.img}}/videocapture/1.jpg" title="Title" alt="Title"><img src="../images/{{page.img}}/videocapture/2.jpg" title="Title" alt="Title"><img src="../images/{{page.img}}/videocapture/3.jpg" title="Title" alt="Title"><img src="../images/{{page.img}}/videocapture/4.jpg" title="Title" alt="Title"><img src="../images/{{page.img}}/videocapture/5.jpg" title="Title" alt="Title"><img src="../images/{{page.img}}/videocapture/6.jpg" title="Title" alt="Title"><img src="../images/{{page.img}}/videocapture/7.jpg" title="Title" alt="Title"><img src="../images/{{page.img}}/videocapture/8.jpg" title="Title" alt="Title"><img src="../images/{{page.img}}/videocapture/9.jpg" title="Title" alt="Title">
{% endif %}
