---
layout: default
title: Main  
---

{% capture root %}{% if page.root %}{{ page.root }}{% else %}{{ site.root }}{% endif %}{%endcapture%}

<div class="row">	
	<div class = "eight columns" > 
		<div class="foundation-header">
			<h2>Projects
			<span class="subheader">My last projects</span>
			</h2>
		</div> 
		
	<ul class="block-grid five-up mobile project_preview">
		
    	{% for post in site.posts %} 
		{% if post.categories contains 'project' %}  

		<li class = "{{post.type}}"> 
			<a href="{{root}}{{ post.url }}"> 
	   		
			  	<img src="{{root}}/images/{{post.img|downcase}}/preview.jpg" alt="{{post.title}} project"/>  
				<p> {{post.title }}  </p> 
				<!--
		 		<div class = "project_preview_desc">  {{post.desc}}  </div>
				--> 
	
			</a> 
	
		</li> 
	
		{% endif %}  	
    	{% endfor %}  

	</ul> 
	</div> 

	<div class = "four columns" > 

		<div class = "main_sidebar"> 
		
			<a href="{{ post.url }}"> 
				<img src="{{root}}/images/bio/victordiaz.jpeg" 
				 alt="{{post.title}} project"/>  
			</a>			
			
			<p>  I am a researcher & creative coder who loves to experiment and design new ways of interaction among technology and people. My continuous goal is to make technology more human aware.			
			</p>
			
		
	</div> 

</div> 







<div class="row">	
	<div class = "eight columns" > 
	
		<div class="foundation-header">
		<h2 id ="hacks">Hacks
			<span class="subheader">Some cool hacks / fun / misc</span>
		</h2> 
		</div> 
		
	<ul class="block-grid five-up mobile project_preview">
	
    {% for post in site.posts %} 
	{% if post.categories contains 'hack' %}  

   
	<li class = "{{post.type}}"> 
		<a href="{{root}}{{ post.url }}"> 
		<img src="./images/{{post.img|downcase}}/preview.jpg" alt="{{post.title}} project"/>  
		</a> 
	
			<p class = "project_preview_title"> {{post.title }}  </p> 
		<!--
		 	<div class = "project_preview_desc">  {{post.desc}}  </div>
		--> 
	
	
	</li> 
	
	{% endif %}  	
    {% endfor %}  
	</ul> 

</div> 

<div class = "four columns" > 


</div> 


