---
layout: default
title: Victor Diaz  
---


<div class = "container_12">  
	<div class = "grid_12 contenido" id = "projects"> 
  		<!-- <h1>Projects</h1>  -->
	
	</div> 
	<div class="clear"></div>  
	
	
    {% for post in site.posts %} 

	{% if post.categories contains 'project' %}  
    <div class = "grid_3" > 

	<div class = "{{post.type}}, project_preview"> 
		<a href="{{ post.url }}"> 
		<img src="/images/{{post.img|downcase}}/preview.jpg" alt="{{post.title}} project"/>  
		</a> 
	
			<div class = "project_preview_title"> {{post.title }}  </div> 
		 	<div class = "project_preview_desc">  {{post.desc}}  </div>
	
	
	</div> 
	
	</div> 
	
	
	
	{% if forloop.index == 4 or forloop.index == 8 or forloop.index == 12 or forloop.index == 16 or forloop.index == 20 %}  
	<div class="clear"></div>  
	{% endif %}  
	
	{% endif %}  	
	
	
    {% endfor %}  

	<!-- </div>  -->
	

</div>
