---
layout: default
title: Victor Diaz  
---


<div class = "container_12">  
	<div class = "grid_12" id = "projects"> 
  		<h1>Projects</h1> 
	
	</div> 
	<div class="clear"></div>  
	
	
    {% for post in site.posts %} 

	{% if post.categories contains 'project' %}  
    <div class = "grid_3 project_preview"> 
	
	<a href="{{ post.url }}"> 
		<br /> 
		<img src="/images/{{post.img|downcase}}/preview.jpg" alt="{{post.title}} project" width="210" height="210" /> 
	 
		<div class="project_preview_title"> {{post.title }}  </div> 
		
		</a> 
		<br /> 
	
		<div class="project_preview_desc"> <p> {{post.desc}} </p> </div>  

	
	
	</div> 
	
	
	
	{% if forloop.index == 4 or forloop.index == 8 or forloop.index == 12 or forloop.index == 16 or forloop.index == 20 %}  
	<div class="clear"></div>  
	{% endif %}  
	
	{% endif %}  	
	
	
    {% endfor %}  

	<!-- </div>  -->
	

</div>
