---
layout: project 
root: "./.." 
category:  project 
type: Workshop
img: reshapeyourphone
title: Reshape your phone
technologies: 
when: 20/04/2012 - 21/04/2012
collaborators: [] 
task: 
desc: Reshape your phone Workshop
videos:  
sourcecode: 
context: 
---

{% capture root %}{% if page.root %}{{ page.root }}{% else %}{{ site.root }}{% endif %}{%endcapture%}

<div class="row">	
<p id = "" class = ""> 	Note: the workshop will be realized soon </p> 


</div> 


{% if site.book == true %} 
<div ><p class="bookvideo">Please watch the video located in: <strong>http://vimeo.com/39880475</strong></p></div> <br />  <br /> <br /> 
<img src="../images/{{page.img}}/videocapture/1.jpg" title="Title" alt="Title"><img src="../images/{{page.img}}/videocapture/2.jpg" title="Title" alt="Title"><img src="../images/{{page.img}}/videocapture/3.jpg" title="Title" alt="Title"><img src="../images/{{page.img}}/videocapture/4.jpg" title="Title" alt="Title"><img src="../images/{{page.img}}/videocapture/5.jpg" title="Title" alt="Title"><img src="../images/{{page.img}}/videocapture/6.jpg" title="Title" alt="Title"><img src="../images/{{page.img}}/videocapture/7.jpg" title="Title" alt="Title"><img src="../images/{{page.img}}/videocapture/8.jpg" title="Title" alt="Title"><img src="../images/{{page.img}}/videocapture/9.jpg" title="Title" alt="Title">
{% endif %}
