---
layout: default
root: "./.."

--- 


<div class="row"> 	
<h1 class = "niceh1"> Android experiments </h1> 
<p> lalala </p> 
</div> 

<div class="row"> 	

	<div class = "eight columns" > 
		<div class="foundation-header">
			<h2 class = "correctme">Projects
			<span class="subheader">check the info inside</span>


			</div> 
	
	<ul class="block-grid five-up  project_preview">
		
    	{% for project in site.posts %} 
		{% if project.tags contains 'android' %}  

		<li class = "{{project.type}}"> 
			<a href="{{root}}{{ project.url }}"> 
	   			
				{% if project.img %}
			  	<img src="{{root}}/images/{{project.img|downcase}}/preview.jpg" alt="{{project.title}} project"/> 	
				{% else %}
				hola
				{% endif %}  	
				<p> {{project.title }}  </p> 		
		 		<div class = "project_preview_desc project_preview_desc hide-on-phones hide-on-desktops hide-on-tablets">  <!-- {{project.desc}} --> </div>
		
	
			</a> 
	
		</li> 
	
		{% endif %}  	
    	{% endfor %}  

	</ul> 
	

	</div> 

	<div class = "four columns" > 

		<div class = "main_sidebar hide-on-phones"> 
		
			<a href="{{ post.url }}/bio/bio.html" class = "imgbio"> 

			</a>			
			
			<p class="correctme"> I am a $$\frac{engineer + artist + researcher }{3}$$		
			 who loves to experiment and design new ways of interaction among technology and people. My goal is to make technology more human aware.	
				
			</p>
			
		
	</div>

</div> 



