---
layout: default
root: "./.."

--- 


<div class="row">	
	<div class = "eight columns posts" > 
		
		{% for page in paginator.posts %} 
		{% if page.category contains 'post' %}
		
		  {% include single_page.html %} 
		{% endif %}
		{% endfor %} 
	
	<!-- 	
		<div class="page">
		<ul class="pagination">
		<li class="unavailable"><a href="">&laquo;</a></li>
		{% for num in (1..paginator.total_pages) %}
		{% if num == paginator.page %} 
	     	<li class="current"><a href="">{{num}}</a></li> 
		{%else%}
			<li><a href="/page{{num}}">{{num}}</a></li>
		{% endif %} 
		{% endfor %} 
		<li>&raquo;</li>
		</ul>
		</div>
	 -->  
		
	</div> 


	<div class = "four columns" > 

		<ul class = "lastposts">
		<h1> Last Posts </h1>
	  {% for post in site.posts%} 
		{% if post.category contains 'post' %}  
		
	      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li> 
	
		{% endif %}  	  
	  {% endfor %}
		</ul>
		
	</div> 


</div> 



