/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/



* {
  margin: 0;
  padding: 0;
}

html, body { 
    height: 768px; 
} 
/*
#clouds {
z-index: -1;
background: url(/images/clouds.png);
}

@keyframes float-clouds {
    0% {
        background-position: 2400px 0;
    }
    100% {
        background-position: 0 0;
    }
}

@-moz-keyframes float-clouds {
    0% {
        background-position: 2400px 0;
    }
    100% {
        background-position: 0 0;
    }
}
@-webkit-keyframes float-clouds {
    0% {
        background-position: 2400px 0;
    }
    100% {
        background-position: 0 0;
    }
}

#clouds {
      -webkit-animation-name: float-clouds;
      -webkit-animation-duration: 95s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
        -moz-animation-name: float-clouds;
        -moz-animation-duration: 95s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        animation-name: float-clouds;
        animation-duration: 95s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
*/ 

.qq:hover { 
	
		background-color: rgba(0, 0, 0, 0.5);
	
		-moz-transform: rotate(0deg) scale(0.95);
		-webkit-transform: rotate(15deg) scale(0.2);
		-o-transform: rotate(0deg) scale(0.95);
		transform: rotate(0deg) scale(0.95);
		
		position: relative; 
		
	    -webkit-transition: all 0.2s linear; 


	
	}

body {
  background-color: #eeffec; 
  background:url(/images/bg/bg.png); 


  background-repeat: repeat; 
  font: 13.34px helvetica, arial, clean, sans-serif;
  font-size: small; 
	
} 


.menu {
padding:0px;
margin:0px;
padding-top:5px; 
padding-bottom:15px; 
margin:0;
white-space:nowrap;
list-style-type:none; 
width: 100%; 
text-align: right;
color: #555;
text-transform: uppercase; 

} 


.menu-mobile {

padding-top:12px;
text-align: center;
color: #555; 
font-size: 1.3em; 
margin-top: 12px; 

} 


.menu a { 
	
	color: #555;
	padding:0px; 

	padding: 8px;
	font-family: arial, helvetica, sans-serif; 
	font-size: 1.2em; 
	font-weight:10000;

	line-height: 10px;
	letter-spacing: -1px; 
	
} 

.menu a.selected {
	color: #eee; 
	background-color: #555;
} 

.menu a:hover { 
	color: #eee; 
	background-color: #888;	
} 


.menu a:visited { 


} 


#me { 
	text-align: right; 
	position: absolute; 
	top: 0px; 
	left: 805px; 
}


h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}


a { 
	color: #222; 
	text-decoration: none; 

} 

a:hover {
  color: #222; 
  text-decoration: none; 

}

a:visited {
  color: #222; 
  text-decoration: none; 

} 



.bgtransparent { 
	background-color: black; 
	opacity: 0.5; 
	
	z-index; 0; 
	height: 100%; 
	
	
	position: absolute; 
	top: 0; 
} 


.site { 

	z-index; 2; 
	height: 100%; 
	border-top: 5px solid #555; 
  	border-bottom: 8px solid #555; 

} 

.foundation-header { 
	border-bottom: 1px solid #ccc;
	margin-bottom: 18px; 
	padding: 0px;
} 

.foundation-header h2 { 
	margin-bottom: 2px; 
	padding-left: 0px;
} 

.header { 
	margin-top: 0px;
	margin-bottom: 12px; 
} 
	
.subheader { 
	margin-bottom:0px;
} 

.logo { 
	font-family: 'arial', sans-serif; 
	font-size: 1.6em; 
	padding-top: 0px; 
	width:115px; 
	text-align: left; 
	
} 

.logo-mobile {  
	width:100%; 
	margin-bottom:12px;
} 

#imgbio { 
    border-radius: 5px;
    box-shadow: 0px 1px 4px #222; 
    margin-top: 11px;
}

.main_sidebar { 
	margin-top: 25px; 
	text-align: center; 
	
	/* background-color: rgba(0, 0, 0, 0.05); 
    padding: 12px;
    border-radius: 5px; 
    */ 
} 

.main_sidebar p { 
	text-align: left; 
	padding: 2px;  
	padding-top:15px;
	
    font-family:  Georgia, Garamond, Times, serif;
	letter-spacing:0.1em;
	margin: 0px auto;

	line-height: 145%;
	font-size: 0.98em;

} 

.main_sidebar_mobile { 
	margin-top: 0px;
}
 
.contenido { 
	
	padding-top: 0px; 	
	
} 

.contenido_img { 

	margin:0px;
	padding:0px; 
	height:100%; 
	
} 

.contenido_img img {  

	border: 1px solid #000; 	
	margin:0px;
	padding:0px; 
	
}

.project_preview li { 
	
	border: 0px solid #000; 
	padding: 0px; 
	color: #CCCCCC; 
	height: 145px; 
	padding-bottom: 5px;
} 



.project_preview img { 
	border: 0px solid #222; 
	text-align:center;
	margin: 0px; 
  	padding:0px;  
	width: 100%;
	height: auto;
	
	-moz-transform: rotate(0deg) scale(1);
	-webkit-transform: rotate(0deg) scale(1);
	-o-transform: rotate(0deg) scale(1);
	transform: rotate(0deg) scale(1);
		
	position: relative; 
		
	-webkit-transition: -webkit-transform 0.2s ease-out; 
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px; 
	-o-border-radius: 2px; 
	border-radius: 2px; 
	
	-moz-box-shadow: 0px 1px 2px #222;
	-webkit-box-shadow: 0px 1px 2px #222; 	
	-o-box-shadow: 0px 1px 2px #222;
	box-shadow: 0px 1px 2px #222;	

	z-index: 1; 		
		
	position:relative; 
	z-index:1; 
	float: left; 

} 

@-webkit-keyframes bounce {
   from {
      margin-top: 0px;
   }
   to {
      margin-top: 0px;
   }
} 

.project_preview img:hover, .hover { 
	opacity: 0.8; 
	
	
	/*
	-moz-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
 	-transition: all 0.2s ease-out;
	
    -moz-transform: rotate(0deg) scale(1.1);
    -webkit-transform: rotate(0deg) scale(1.1); 
    -o-transform: rotate(0deg) scale(1.1); 
    transform: rotate(0deg) scale(1.1); 

	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	-o-border-radius: 2px;
	-border-radius: 2px;
	
	position: relative; 
	
	*/ 
	
	/* 
	-moz-box-shadow: 1px 1px 5px #222;
	-webkit-box-shadow: 1px 1px 5px #222; 
	-o-box-shadow: 1px 1px 5px #222;
	-box-shadow: 1px 1px 5px #222;
	
 	-moz-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
 	-transition: all 0.2s ease-out;
 	
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate; 

	z-index: 1000; 
	
	*/ 
	
}

.project_preview p { 

	padding: 2px;  	
	padding-top: 5px; 
	text-align: left;
	font-family: sans-serif;  
 	font-size: 0.88em; 
	color: #888; 
	display: block; 
	clear: both;  
	margin: 0px; 
	
	font-weight:10000;

	line-height: 1.1em;
	letter-spacing: 0px; 
	
} 
	
	
.project_preview_desc { 
	
	margin-bottom:12px;	
	padding:0px; 

	padding-top: 8px;
	padding-left: 2px;  
	padding-right: 2px;  
	
	font-family: serif;  
	font-size: 1.1em; 
	color: #222; 

	vertical-align: bottom;
	text-align: left; 
	
	
} 


.project_type { 
	

	font-size:0.8em; 
	z-index:2; 
	background-color: rgba(0, 0, 0, 0.8);
	padding: 2px; 
	float: right; 
	right: 0px;
	bottom:0px; 
	

		
	-webkit-transition: -webkit-transform 0.2s ease-out; 
	-moz-border-radius: 1px; 
	-webkit-border-radius: 1px; 
	-moz-box-shadow: 1px 1px 1px #222;
	-webkit-box-shadow: 1px 1px 1px #222; 		
	
	
}

.project_full { 

	/* 
	border: 1px solid #000; 
	border-bottom: 3px solid #000; 
	border-right: 3px solid #000; 
	*/ 	
	
	border-top: 0px solid #000; 
	border-left: 0px solid #000; 
	
	margin-bottom: 10px; 
	padding:0px; 	
	margin:0px;

	height:100%; 
	width: auto; 
	
	font-family: serif;  
	font-size: 1.2em; 
	color: #000; 
	background: rgba(0, 0, 0, 0); 		
		
} 


.project_full h1 { 
	font-family: sans-serif; 
	font-size: 1.5em; 
	color: #555; 
	margin-bottom:15px; 
	padding-left:0px; 
	font-family:sans-serif;
	color:#4E443C;
	font-variant: small-caps; text-transform: none; font-weight: 100;  
	border-bottom: 1px solid #ccc;
    width: 100%; 

} 


.project_full h2 { 
	font-family: 'arial', sans-serif; 
	font-size: 1.1em; 
	margin-top: 15px; 
	text-align: left;
} 


.project_full h3 { 
	font-family: 'arial', sans-serif; 
	font-size: 0.8em; 
	border-bottom: 1px dashed #bbb;
	margin-bottom:0px; 
	display: inline; 
	
} 

.q { 
	margin: 5px; 
}


.project_full p { 
	color: #555; 
	padding-top: 2px;
	padding-left: 0px; 
	padding-right: 0px; 
	text-align: left; 
	list-style: none; 
	font-size: 12px;
	color: #444;
	font-size: 12px;
	color: #4A4235;
	line-height: 1.7;
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-weight: normal; 
	margin: 0 0 11px;
	
} 


.project_full img { 

	padding: 0px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	border-color: rgba(0, 0, 0, 0.5);
    border-width: 0px;
    border-style: solid; 
	max-height: 128px; 
	text-align: center; 
	margin: 5px; 
	float: left;
	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	-o-border-radius: 2px;
	border-radius: 2px;


} 

.project_full_video { 

	padding: 0px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	background-color: black; 
	
	border-color: rgba(0, 0, 0, 0.5);
    border-width: 2px;
    border-style: solid; 

	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	-o-border-radius: 5px;
	border-radius: 5px;


} 

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0; 
	margin-bottom: 20px;
} 

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

video { 
	
	margin-bottom: 15px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	background-color: black; 
	width: 100%;
	border-color: rgba(0, 0, 0, 0.5);
    border-width: 2px;
    border-style: solid; 

	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	-o-border-radius: 5px;
	border-radius: 5px;


	
	}


.project_full li { 
	
	font-family: Geneva,Arial,Helvetica,sans-serif; 
	font-size: 0.8em; 
	text-align: left; 
	list-style: none; 
	margin: 0px;
} 

.infonote { 
	font-family: serif; 
	font-size: 0.8em; 
	font-style: italic;
	text-align: center; 
	padding: 5px; 
	margin: 15px;
	border: 1px solid #888; 
	
}

.project_info { 

	border-left: 1px solid #eee; 
	padding-left: 18px;  
	background-color: #A0C5D1;
    border-radius: 0px 0px 2px 2px;
	
} 

.project_info h3 { 
	margin-bottom: 2px;
} 
	
.project_info a { 
	color: #fff; 
	text-decoration: none; 
	background-color: rgba(0,0,0,0.5); 
	margin: 0px;
	padding: 2px;
	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	-o-border-radius: 2px;
	border-radius: 2px;


} 


.project_full_caption { 

	padding: 2px; 
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width:100%;
	
	border-color: rgba(0, 0, 0, 0.5);
    border-width: 2px;
    border-style: none; 
	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	-o-border-radius: 2px;
	-border-radius: 2px;
	display: none; 
	
} 



.project_info li { 
	margin: 0px;
	padding-left: 0px; 
	padding-right: 10px; 
	padding-top: 4px; 
	padding-bottom: 4px; 
	
	
} 


.liseparator { 
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2); 

} 




.marcado { 
	color: #fff; 
	text-decoration: none; 
	background-color: rgba(0,0,0,0.5); 
	margin: 0px;
	padding: 2px;
	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	-o-border-radius: 2px;
	-border-radius: 2px;


} 




.msg { 
	background: rgba(255, 0, 0, 0.8); 
	padding:10px; 
	color: white; 
}

.contenido_img h2 { 
	background: rgba(0, 0, 0, 0.2); 
	padding-top: 5px; 
	padding-bottom: 5px; 
	padding-left: 5px; 
	text-align: left; 
	color: white; 
	/*	width: 100%; */ 
	
} 

.contenido_img p { 
	padding-left: 12px; 
	
	
} 

.contact p { 
	text-align: center; 	
	
} 


.imgprev { 

	/* 
	border: 1px solid #000; 
	border-bottom: 3px solid #000; 
	border-right: 3px solid #000; 
	*/ 

	background-color: #fff; 
	/*	text-align: center;*/
	color: #CCCCCC; 


    background-image: url("../images/bg/p12.png"); 
    background-repeat: repeat; 

	
	margin:0px;
	padding:20px; 
	height:100%; 
	width: auto; 

/*	left-padding: 5px;  
	right-padding: 5px;  */


	color: #fff; 
	background: rgba(0, 0, 0, 0.28); 
	

} 


	.project_preview_desc p { 

		color: white; 

	} 
	
	.project { 
	
/*		margin: 5px;  
		padding: 5px; */
		
/*	  background-image: url("../images/bg/p1.png"); 
	  background-repeat: repeat; */

		
		
	} 
	
	.content p { 
		padding-right: 10px; 
		text-align: right; 
		
	} 
	
	.content h3 { 
		
		font-family: sans-serif; 
		font-size: 1.2em; 
		color: #555; 
		margin-top:15px; 
		margin-bottom:15px; 
		padding-left:0px; 
		font-family:sans-serif;
		color:#4E443C;
		font-variant: small-caps; text-transform: lowercase; font-weight: 100;  
		border-bottom: 1px dashed #ccc;
	    width: 100%; 
		
	}
	
	
	.b_imagenes { 
		text-align: left; 
		
	} 



  .site .meta {
    color: #bbb;
  } 

  	
  footer {  
    overflow: hidden; 
    font-size: 0.8em;  
    text-align: left; 
    padding-top: 55px;
    padding-bottom: 5px; 
	color: #999; 

  } 


  footer h6 {  
	color: #555;

  } 

 footer p { 
	
	font-family:  sans-serif;
	letter-spacing:0.1em;
	margin: 5px auto;

	line-height: 145%;
	font-size: 1.0em;	
	
} 

.moreprojects { 
	clear:booth; 
	margin-top: 25px; 
	padding-top: 12px;

} 

.moreprojects h1 { 

	font-family: sans-serif; 
	font-size: 1.2em; 
	color: #555; 
	margin-bottom:15px; 
	padding-left:0px; 
	font-family:sans-serif;
	color:#4E443C;
	font-variant: small-caps; text-transform: lowercase; font-weight: 100;  
	border-bottom: 1px solid #ccc;
    width: 100%; 
	 
	
}

.moreprojects li { 
	display: inline; 
} 

.moreprojects img { 
	width: 54px;	
} 

.lastposts { 
	width: 100%;
	background-color: #222;
	padding: 15px;
	color: #BBB;
	border-radius: 5px; 
	
}


.lastposts h1 { 
	color: #ccc;
}


.lastposts a { 
	color: #ccc;
} 


.lastposts a:hover { 
	color: #eee;
} 

.post { 
	margin-bottom: 55px; 
	background-color: #EEE;
	padding: 5px;
	border: 1px solid #BBB;
	border-radius: 2px; 
	
	-moz-box-shadow: 0px 5px 8px #222;
	-webkit-box-shadow: 0px 2px 8px #222; 	
	-o-box-shadow: 0px 2px 8px #222;
	box-shadow: 0px 2px 8px #222;	
	
} 

#related { 
	background-color: #eee;
	padding: 15px;
}

.post h1 { 
	border: 0px;
}

.author { 
	font-size: 0.9em;
	color: #555;	
} 

a.green:hover { 
	background-color: #899b0f;
	
} 


.greenq { 
	border-top: 5px solid #285; 
  	border-bottom: 8px solid #285; 
	
} 


a.pink:hover { 
	background-color: #bd1550;
	
} 


.pinkq { 
	border-top: 5px solid #285; 
  	border-bottom: 8px solid #285; 
	
} 


a.blue:hover { 
	background-color: #e97f02;
	
} 

#texttochange { 
	width: 100%;
	height: 135px;	
} 

.blueq { 
	border-top: 5px solid #285; 
  	border-bottom: 8px solid #285; 
	
} 

pre.prettyprint {
  margin: 15px;
	
}

.selected { 
	color:blue; 
	background:yellow; 
}


#canvasbg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -525;
  height: 100%;
  width: 100%; 
} 

#cursor { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    z-index: 125;     
    display: none;
} 

#randomproject { 
    float: right; 
    font-weight: bold;
} 

#randomproject:hover { 
    float: right; 
    font-weight: bold; 
    color: #222; 
} 


.mask {
position: relative;
height: 180px;
width: 240px;
-webkit-box-shadow: 0 0 1px 
black;
border: 5px solid 
#F6F6F6;
overflow: hidden;
float: left;
margin: 15px;
}

.mask img {
position: absolute;
height: 300px;
width: 400px;
-webkit-transform: rotate(15deg);
-moz-transform: rotate(15deg);
-o-transform: rotate(15deg);
-ms-transform: rotate(15deg);
transform: rotate(15deg);
top: 50%;
left: 50%;
margin-top: -150px;
margin-left: -200px;
} 

#bocasuperior { 
    position: absolute; 
    top: 0px; 
    background-color: rgba(0, 0, 0, 0.8); 
    width: 100%; 
    height: 52px; 
    display: none; 
    
} 

#bocainferior { 
    position: absolute; 
    top: 0px; 
    background-color: rgba(0, 0, 0, 0.8); 
    width: 100%; 
    height: 52px; 
    display: none; 
} 


#video_background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  width: 100%; 
  height: 100%;
  opacity: 0.5; 
  -webkit-filter: grayscale(1); 
  -webkit-transition: filter ease-in 0.3s; 
} 

.book { 
    display: none;    
    
} 

.bookvideo { 
    background-color: #C9A0D1;
    margin: 12px;
    float: left;
    font-weight: bold;
    color: black;
    padding: 5px;
    border-radius: 2px;    
    
} 

#titulo { 
    padding-top: 50%; 
    font-size: 62px;
    
} 

.index { 
    padding-top: 38%;
    font-size: 25px;    
} 


.indextitulo { 
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 0.8em;
    text-align: left;
    list-style: none;  
    padding-bottom: 22px; 
} 

.pagenum { 
    background-color: #A0C5D1;
    border-radius: 2px;
    padding: 2px;    
    
} 

#covernombre { 
    padding-top: 50%; 
    font-weight: normal;    
    font-size: 22px;
} 

#covertitulo { 
    padding-top: 50%; 
    font-weight: bold;    
    font-size: 22px;
} 

	a[href^="http"] { 
		/* 
		background: url(icono.png) no-repeat;
		padding-left:10px; 
		*/ 
	}


	a[href*="trazos"] {
	color:&nbsp;#39486c;
	}


	a[href$=".jpg"] {
	color: red;
	}



