---
layout: default
--- 

<div class = "container_12 contenido" >  
	<div class = "grid_4"> 
	<div class = "project_full project_info">


		{% if page.recentactivities != null %} 
		<h3> Recent Activity </h3> 
		<ul> 
		{% for recentactivity in page.recentactivities %} 
		<li>{{ recentactivity }}</li>
		{% endfor %} 
		</ul> 
		{% endif %} 
		
		{% if page.mentions != null %} 
		<h3> Mentions </h3> 
		<ul> 
		{% for mention in page.mentions %} 
		<li>{{ mention }}</li>
		{% endfor %} 
		</ul> 
		{% endif %}

		<br /> 
	</div>
	</div> 

<div class = "grid_8"> 
	
	<div class = "project_full">

	 <!-- div class = "grid_12" id="post"> --> 

	{{ content }} 
	
	</div> 
	



	</div> 
	
</div> 

</div> 

