---
layout: default
--- 

<div class = "container_12 contenido" >  
	<div class = "grid_7"> 
		<div class = "project_preview2">
  
 <!-- div class = "grid_12" id="post"> --> 
		
{{ content }} 


{% if page.context != null %} 
<h2> Context: </h2> 
<p> {{ page.context }} </p> 
{% endif %} 


{% if page.technologies != empty %} 
<h2> Used Technologies: </h2> 

	<ul> 
		{% for technology in page.technologies %} 
		<li> {{ technology }} </li> 
		{% endfor %} 
		{% endif %} 
	</ul> 


{% if page.collaborators != empty %} 
<h2> Collaborators: </h2> 
	<ul> 
		{% for collaborator in page.collaborators %} 
		<li>{{ collaborator }}</li>
		{% endfor %} 
	</ul> 
{% endif %} 



{% if page.sourcecode != null %} 
<h2> Sourcecode: </h2> 
	<li>{{ page.sourcecode }}</li> 
{% endif %} 

{% if page.link != null %} 
<h2> Link: </h2> 
	<ul>
		{% for l in page.link %} 
		<li><a href={{ l }}> {{l}} </a></li> 
		{% endfor %} 
	</ul> 
{% endif %} 

</div>
</div> 

<div class = "grid_5"> 
	<div class = " contenido_img"> 
	
	
	{% if page.videos != null %} 
	<h2> Videos	</h2> 
	

		<ul> 
			{% for video in page.videos %} 
			{{video}} 
			{% endfor %} 
		</ul> 
		
		<br /> 
	{% endif %} 


	<div id = "content"> 
	
	{% if page.images != null %} 
	<h2> Images	</h2> 

		<!-- <ul>  -->
			{% for image in page.images %} 
			<!-- <li> <img src="/images/{{page.img}}/{{ image }}" /> </li>  -->
			<a rel="example_group" href="/images/{{page.img}}/big/{{ image }}" title=""><img alt="" src="/images/{{page.img}}/thumb/{{ image }}" /></a> 
			{% endfor %} 
		<!-- </ul>  -->
	<br /> 
	{% endif %} 
	</div> 
	
	</div> 
	
</div> 

</div> 

